* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato-Light', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato-Black', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Lato-Light', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato-Black', sans-serif;
}


/*Active*/

.active-link:hover {
    /*Nigth*/
    color: black;
}

.active-link-day:hover {
    color: #cdcdcc;
}

.active-button:hover {
    background-color: #cdcdcc;
}

.active-social:hover {
    background-color: #f16d7f;
    transform: scale(1.2);
}

.active-transform:hover {
    transform: scale(1.8);
}


/*Common*/

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


/*Header*/

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 59px;
    height: 51px;
    padding-right: 13px;
}

.browse {
    width: 90px;
    height: 36px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    align-items: center;
    text-align: center;
    padding-top: 5px;
}

.browse__link {
    color: #222222;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
}

.text-search {
    width: 320px;
    height: 41px;
    border-radius: 0 0 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding-left: 20px;
    color: #a4a4a4;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
}

.border-search {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding: 11px;
    border-radius: 0 3px 0 0;
}

.button-search {
    width: 14px;
    height: 14px;
    background-image: url(img/search-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    border: none;
}

.header-left {
    height: 51px;
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.account {
    background-color: #f16d7f;
    color: #ffffff;
    font-family: "Lato-Light";
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    padding: 6px 25px;
}

.cart-link {
    margin-right: 23px;
}


/*Brand Block*/

.brand {
    width: 93px;
    height: 19px;
    color: #222222;
    font-family: "Lato";
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    margin-right: 35px;
}

.brand__D {
    color: #f16d7f;
    font-family: "Lato-Black";
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.68px;
}


/*Nav main page*/

.nav {
    height: 54px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 51px;
    justify-content: center;
}

.nav-link {
    color: #222222;
    font-family: "Lato-Bold";
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding: 21px;
}


/*The Brand Block*/

.Thebrand {
    height: 614px;
    background-color: #e8e8e8;
}

.thebrand__img {
    background-image: url(img/brand_back.jpg);
    background-position: 0 -53px;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
}

.brand__text-block {
    height: 92px;
    border-left: 14px solid #f16d7f;
}

.brand__text-h2 {
    color: #222222;
    line-height: 45px;
    padding-bottom: 11px;
    padding-top: 3px;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.brand__text-h3 {
    color: #222222;
    line-height: 35px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.thebrand-fasion {
    color: #f16d7f;
}


/*Baner's*/

.baner {
    height: 826px;
    display: flex;
    justify-content: space-between;
    padding-top: 97px;
}

.baner-left {
    width: 562px;
}

.baner-right {
    width: 562px;
}

.position-rel {
    position: relative;
}

.position-baner {
    margin: 20px;
}

.baner-label {
    height: 85px;
    background-color: #ffffff;
    position: absolute;
    top: 27px;
}

.baner-text {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.baner-promo {
    color: #f16d7f;
    font-weight:600;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.75px;
}


/*Text block main page*/

.text-block {
    text-align: center;
    padding-top: 100px;
}

.text-block-h2 {
    color: #222222;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
}

.text-block-p {
    color: #9f9f9f;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    margin-top: -16px;
}


/*product block main page*/

.shop-block {
    display: flex;
    width: 1142px;
    height: 850px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-main {
    padding-bottom: 20px;
}

.product-img {
    position: relative;
}

product-img img {
    height: 280px;
    width: 263px;
}

.cover-product {
    display: none;
    position: absolute;
    top: 0px;
    height: 280px;
    width: 263px;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-cart-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.border-cart {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 5px;
}

.add-cart-block-p {
    color: #ffffff;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 700;
    margin-left: 6px;
}

.product-name {
    color: #222222;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 12px;
}

.product-price {
    color: #f16d7f;
    font-family: "Lato-Black";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 12px;
}

.product-main:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.product-img:hover .cover-product {
    display: flex;
    cursor: pointer;
}


/*Button All Product*/

.button-all-product-main {
    text-align: center;
}

.button-all-product {
    background-color: #f16d7f;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 51px;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
    border: 2px solid #ffffff;
}

.button-all-product-p {
    color: #ffffff;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.4px;
    margin: 0px 26px;
}


/*Offer Block*/

.offer-block {
    background-color: #222224;
    height: 532px;
    margin-top: 112px;
    position: relative;
    display: flex;
    margin-bottom: 95px;
}

.back-offer {
    width: 767px;
}

.text-back-offer {
    height: 78px;
    position: absolute;
    top: 146px;
    left: 40px;
}

.text-back-offer-h2 {
    color: #ffffff;
    font-family: "Lato";
    font-size: 54px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.text-back-offer-h2-span {
    font-family: "Lato";
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    letter-spacing: 1.5px;
}

.text-back-offer-h3 {
    color: #ffffff;
    font-family: "Lato";
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 0.9px;
}


/*Advantage block*/
    .advantage-offer-block {
        margin-top: 48px;
        margin-left: 73px;
        height: 100%;
    }
    .h2-advantage-offer-block {
        padding-left: 32px;
        color: #fbfbfb;
        font-family: "Lato";
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    .p-advantage-offer-block {
        width: 219px;
        margin-top: 17px;
        margin-bottom: 27px;
        list-style-type: none;
        padding-left: 32px;
        color: #fbfbfb;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.35px;
    }
    /*Subscribe Block*/
    .subscribe-block {
        background-color: #f2f2f2;
        height: 441px;
    }
    .subscribe-block-content {
        background-image: url(img/back-subscribe.jpg);
        height: 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
    }
    .subscribe-left {
        position: relative;
    }
    .photo-subscribe {
        display: flex;
        height: 86px;
        padding-top: 111px;
    }
    .text-block-subscribe {
        margin-left: 27px;
    }
    .text-block-subscribe-p {
        width: 386px;
        height: 68px;
        color: #222224;
        font-family: "Lato";
        font-size: 16px;
        font-style: italic;
        line-height: 26px;
        letter-spacing: 0.4px;
        margin-bottom: 19px;
    }
    .text-block-subscribe-h4 {
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        font-family: "Lato-Bold";
        letter-spacing: 0.4px;
        line-height: 26px;
    }
    .text-block-subscribe-adress {
        color: #222224;
        font-family: "Lato Light";
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 14px;
    }
    .subscribe-right {
        margin-top: 150px;
        margin-right: 90px;
    }
    .text-block-right {
        text-align: center;
    }
    .text-block-right-h3 {
        color: #222224;
        font-family: "Lato";
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.6px;
        line-height: 54px;
        text-transform: uppercase;
    }
    .text-block-right-p {
        color: #222224;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.35px;
        line-height: 24px;
        margin-top: -11px;
        margin-bottom: 33px;
    }
    .enter-email-block {
        display: flex;
    }
    .enter-email {
        background-color: #e1e1e1;
        width: 285px;
        height: 49px;
        border-radius: 23px 0 0 23px;
        opacity: 0.67;
        color: #222224;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0.35px;
        margin-left: 20px;
        padding-left: 30px;
        display: flex;
    }
    .subscribe-button {
        display: inline-block;
        width: 107px;
        height: 49px;
        text-align: center;
        color: #ffffff;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0.35px;
        border-radius: 0 23px 23px 0;
        background-color: #f16d7f;
    }
    /*Pagination Subscribe*/
    .pagination-subscribe {
        position: absolute;
        top: 280px;
        left: 111px;
    }
    .bar {
        width: 40px;
        display: inline-block;
        border-bottom: 7px solid #d6d6d6;
        margin-right: 10px;
    }
    .bar-active {
        border-bottom: 7px solid #f16d7f;
    }
    /*Fast Link*/
    .text-block-company {
        padding-top: 108px;
    }
    .text-block-company-p {
        line-height: 26px;
        letter-spacing: 1.35px;
    }
    .text-company {
        text-align: left;
        width: 427px;
        height: 180px;
        color: #898989;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.35px;
        padding-top: 42px;
    }
    .company-list {
        list-style-type: none;
        margin-top: 122px;
        margin-left: 100px;
    }
    .fast-link {
        display: flex;
    }
    .title-company-list {
        color: #f16d7f;
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.45px;
        margin-bottom: 34px;
    }
    .company-link {
        font-size: 16px;
        font-family: "Lato";
        color: rgb(137, 137, 137);
        line-height: 3.688;
        text-align: right;
    }
    /*Footer*/
    .footer-main {
        height: 82px;
        background-color: #e6e6e6;
        margin-top: 87px;
    }
    .footer {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .social {
        margin-top: 20px;
    }
    .copyright-p {
        color: #7a7a7a;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0.4px;
    }
    .social-pics {
        background-color: #ffffff;
        width: 25px;
        height: 25px;
        padding: 10px;
        margin-right: 4px;
    }